.App-main {
  text-align: center;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Start-button {
  background-color: red;
  color: #ffffff;
  border: none;
  height: 40px;
  width: 70px;
  border-radius: 7px;
  cursor: pointer;
}
.Start-note {
  color: red;
}
.Cyber-img-main {
  height: auto;
  width: 500px;
}
* {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.25rem;
  font-size: .875rem;
  letter-spacing: .0142857143em;
  font-weight: 400;
  font-size: small;
}
.Footer {
  color: rgb(255, 255, 255);
  /*background-color: #282c34;*/
  background-color: black;
  width: 100%;
  height: 50px;
  padding: 0;
  bottom: 0;
  position: fixed;
  left: 0;
  text-align: center;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.navBar {
  color: rgb(255, 255, 255);
  /*background-color: rgb(92, 86, 86);*/
  height: 40px;
  background-color: gray;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  ul, li{ list-style:none; margin:0; padding:0;}
  ul{background-color:grey;} /*1.2*/
  a{color:white; display:block; padding:5px; text-decoration:none;} /*1.2, 1.3*/
}
.navBar a:hover{background-color:#868686; text-decoration:none; color:white;}/*1.2*/
.navBar > ul{ display:table; width:60%;}  /*2.1, 2.2*/
.navBar > ul > li{ display:table-cell; border-right:1px solid #d4d4d4;}  /*3.1, 3.2 */
.navBar> ul > li:last-child{ border-right:none;}/*3.2*/
.navBar > ul > li > a{ text-align:center; cursor: pointer;}/*2*/

.navBarChild {
  display: flex;
  color: rgb(255, 255, 255);
  /*background-color: rgb(92, 86, 86);*/
  height: 40px;
  background-color: gray;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.nav_logo {
  width: 130px;

}
.HomePage {
  display: flex;
  font-size: small;
  color: #333333;
}
.auth_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  height: 100vh;

}
.authSubmitButton {
  background-color: red;
  color: #ffffff;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 7px;
  cursor: pointer;
}
.auth_form_holder {
 margin: 50px;
 text-align: center;
}
.main_container {

  height: 100%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
justify-content: center;
align-items: center;
}
.input_field {

}
.to_link {
  margin-left: 20px;
}
.main_services_button{
  background-color: #0b051e;
    color: #ff434a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.service_btn_txt {
  margin: 4px;
  font-size: small;
  font-weight: 550;
}
.home_serv_header {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.50rem;
  font-size: .966rem;
  letter-spacing: .0142857143em;
  font-weight: 700;
  font-size: small;
}

.home_partitioner_container {
  /*height: 100%;*/
  min-height: calc(100vh - 50px);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 110px;
}


.service_holder {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 340px;
    text-align: center;
    background-color: #ffa700;
    margin: 20px;
    border-radius: 3px;
}
.service_cve_holder {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 340px;
    text-align: center;
    background-color: #d13e04;
    margin: 20px;
    border-radius: 3px;
}
.inner_holder {
  margin: 20px;
}
.security_level {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.host_infogather_container {
  display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* flex-wrap: wrap; */
    align-content: center;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    margin-top: 150px;
    margin-bottom: 40px;
}
.host_infogather_subcontainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.host_infogather_form {
  text-align: center;
}
.results_info_gather {
  margin: 20px;
    /* align-self: baseline; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-content: center;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 150px;
}
.search_overview_res_gather {
  background-color: #ff4444;;
}
.organic_search_res {
  width: 80%;
}
.organicResultDiv {
  margin: 20px;
}
.searchParamsDiv {

  margin: 10px;
}
.organicParamsspan {
  background-color: green;
  margin: 10px;
}
.dns_lookup {
  height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.dns_lookup_container {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.form_dnslookup {
  text-align: center;
}
.http_headers {
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.ip_history {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  horizontal-align: block;

  min-height: 100vh;
}
.ip_history_holder {
  width: 80%;
}
.ip_history_result{
  width: 80%;
  margin-bottom: 150px;
}
.ip_history_form {
  text-align: center;
}
.welcome_header {
  color: #14bbe7;
  font-size: small;
}
.browser_data_reveal {
  align-items: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: center;
color: red;
}
.find_my_ip {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.cves_pages {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 100vh; */
    align-items: center;
    align-content: center;
    justify-content: center;
}
.cve_inner_holder {
  width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-bottom: 200px;
}
.cve_input_form {
  text-align: center;
  margin: 9px;
}
html {
  height: 100%;
}

body {
  height: 100%;
}
.security_details_holder {
  display: contents;
}
.security_result_div {
  width: 80%;
  /*background-color: #f7f7f7;*/
  margin: 13px;
  border-radius: 6px;
}
.security_res_headers {
    font-size: small;
    font-weight: 700;
    color: #5b4e30;
    margin-right: 4px;
}
.actual_ip {
  font-size: small;
    font-weight: 700;
    color: #5b4e30;
    margin-right: 4px;
}
.sec_res_holder {
  margin: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sec_res_title {
  text-align: center;
   font-weight: 700;
  color: blrgb(241, 255, 50)
}
.res_line {
  margin: 12px;
}
.security_check_btn {
  background-color: #f7a344;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 35px;
}
.sec_div_btn_text{
  margin: 10px;
}
.header_key {
  margin-right: 10px;
  font-size: small;
    font-weight: 700;
    color: #5b4e30;
    margin-right: 4px;
}
.header_value {
  margin-left: 10px;
}
.green-dot {  /* use on empty div */
   width: 15px;
   height: 15px;
   background: #00FF00;
   border-radius: 50%;
 }
.red-dot {  /* use on empty div */
   width: 15px;
   height: 15px;
   background: #ff1d1d;
   border-radius: 50%;
 }
 .sys_status_txt {
   margin-right: 10px
 }
.about_app_holder {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.about_app_container {
  width: 80%
}
.target_scan_container {
  display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items: center;
min-height: 100%;
/* width: 80%; */
margin-bottom: 110px;
}
.target_scan_subcontainer {
  width: 80%
}
.port_scan_form {
  text-align: center

}
.contact_container {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact_form {
  width: 80%
}
.image_cls {
  height: 240px;
  width: auto;
}
.images_place_holder {
  margin: 10px;
}

.images_search_prgf {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 10px;

}
.images_inner_holder {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.topstoris_image_elem {
  height: 120px;
  width: auto;
}
.top_stories_holder_div {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.topstory_res_elem {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 30px;
}
.top_stories_search_res {
  width: 80%;
}
.appended_header {
  font-size: 770;
  color: red;
  text-align: center;
}
.dns_lookup_res {

}
.dns_lookup_holder {
  margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.dns_elem_lookup_holder {
  margin: 10px;
    width: 230px;
    background-color: whitesmoke;
    border-radius: 4px;
}
.ip_history_error_found {
  display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin: 20px;
}
.ip_history_error_header {
  color: red;
  font-size: small;
}
.ip_history_div {
  width: 80%;
}
.ip_history_res_holder_succ {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: center;
align-items: center;
margin: 20px;
}
.iph_res_elem_holder {
  margin: 5px;
    width: 210px;
    background-color: whitesmoke;
    border-radius: 4px;
}
.performance_notice {
  color: green;
  text-align: center;
}
.port_scan_element {
  width: 170px;
margin: 10px;
background-color: #f9f9f9;
border-radius: 6px;
}
.port_scan_holder_div {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.ps_result_holder {
  margin: 20px;
}
.middle_div_holder {
  width: 80%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.common_button {
  background-color: #f7a344;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
}
.port_scanner_error_header {
  color: red;
  font-size: small;
  text-align: center;
  margin: 20px;
}
.navBarChildLogin {
  display: flex;
color: rgb(255, 255, 255);
/* background-color: rgb(92, 86, 86); */
height: 40px;
background-color: gray;
position: relative;
width: 100%;
text-align: center;
margin: 0;
padding: 0;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: space-around;
align-items: center;
}
.cve_not_auth_div {
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}
.main_parag_not_auth {
  color: red;
}
.button_log_out {
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
}
.logout_txt {
  font-weight: bold;
  font-size: small;
}
.cves_data_entry_field {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.cve_search_option_elem {
  width: 250px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 4px;
}
.first_notes {
  display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
justify-content: center;
align-items: center;
}
.cve_warning_note {
  color: red;
}
.cve_holder_div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.cve_db_elem_holder {
  width: 250px;
    margin: 10px;
    background-color: whitesmoke;
}
.vendor_elem_div {
  margin: 10px;
    background-color: whitesmoke;
    text-align: center;
}